# PHP-CS-Fixer
/.php_cs
/.php_cs.cache

# composer.local.json is referenced in composer-merge-plugin
# remove this for your projects if you want to track the file
/composer.local.json

# composer
/composer.lock
/vendor/

# PhpStorm / IDEA
.idea/
# NetBeans
nbproject

.vagrant/
node_modules/
